.outer_div
  #centered.top_div
    %br/
    .inner_div
      :javascript
        document.write('<a class="btn btn-default btn btn-primary" style="float:left; margin:8px; margin-left:12px;" href="' + document.referrer + '">Back</a>');
      %h1 WebComic Forum
      %p.text
        Nullam volutpat placerat felis sit amet tempor. In ultricies tincidunt nibh sit amet facilisis. Vestibulum aliquet auctor finibus. Maecenas consequat sapien auctor tortor pharetra lobortis. Maecenas at tortor pharetra, dignissim lacus sed, laoreet ex. Curabitur cursus, erat at interdum viverra, ipsum massa mattis diam, ut dapibus mi lorem ac sapien. Nam ultricies finibus sapien. Ut ac eros venenatis, bibendum nisl ac, facilisis nunc. Donec vel augue tincidunt, viverra leo id, mollis lorem. Donec lobortis, mi sed tempus facilisis, mauris magna gravida ipsum, eu porttitor ipsum felis quis turpis. Pellentesque eleifend ipsum posuere turpis bibendum vulputate. Pellentesque maximus molestie nulla, id vehicula nunc cursus non. Sed non pharetra orci.
      %center
        %input.btn.btn-default.btn.btn-primary{"data-disable-with" => "New thread", :name => "newthread", :title => "Create a new thread", :type => "submit", :value => "New thread"}/
      %br/
  #centered.top_div{:style => "background-color:#2e353d;"}
    .inner_div
      %h3 Thread caption
      %p.text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum vulputate finibus. In a volutpat risus. Etiam at egestas enim, at finibus magna. Proin ultrices massa eu orci iaculis, non viverra est posuere. Aenean a velit id felis interdum tristique. Nunc vel justo quis arcu mattis lacinia a eu mauris. Pellentesque convallis faucibus dui eget posuere. Aenean ut massa dolor. Integer nec nibh nec enim elementum gravida id ut felis. Vestibulum consectetur imperdiet bibendum.
        Aenean faucibus nibh ut metus viverra, eget suscipit urna fermentum. Pellentesque tincidunt finibus pulvinar. Duis vel est tempus, sodales ante ut, euismod orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in eros ultrices, gravida urna eleifend, hendrerit nulla. Ut condimentum ex nisl, posuere imperdiet odio aliquam non. Curabitur vestibulum convallis convallis. Nam velit orci, porta vel suscipit ac, euismod a turpis. Aenean non ultrices tortor. Quisque viverra, diam a ullamcorper mollis, erat urna aliquet neque, quis commodo justo sem vitae odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis faucibus sollicitudin sollicitudin. Morbi tempus tortor eros, eu accumsan dui varius vitae.
        Nullam convallis diam porta ipsum dignissim, eu suscipit metus lacinia. Quisque et eros in justo mollis ornare a nec felis. Suspendisse tristique efficitur lacus id cursus. Sed condimentum lacinia nulla quis viverra. Praesent non leo at quam blandit feugiat. Aenean non hendrerit nunc, in consectetur velit. Vivamus venenatis erat a orci blandit, id commodo metus consequat. Etiam risus ex, rhoncus vel varius et, bibendum sed neque. Duis vel libero justo. Fusce erat nisl, tristique consequat posuere sed, ornare nec quam.
      =image_tag( image_url ('user-icon.png'), align => "left", :height => "20", :style => "margin-left:12px", :width => "20")
      %p.info user namec





-#%h1 Listing forums
-#
-#%table
-#  %thead
-#    %tr
-#      %th Comic
-#      %th Topic
-#      %th
-#      %th
-#      %th
-#
-#  %tbody
-#    - @forums.each do |forum|
-#      %tr
-#        %td= forum.comic
-#        %td= forum.topic
-#        %td= link_to 'Show', forum
-#        %td= link_to 'Edit', edit_forum_path(forum)
-#        %td= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Forum', new_forum_path
