@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "comics.scss";
@import "comments.scss";
@import "devise.scss";
@import "forums.scss";
@import "groups.scss";
@import "publications.scss";

html{
  font-size: 14px;
}

.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}