@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "comics.scss";
@import "comments.scss";
@import "devise.scss";
@import "forums.scss";
@import "groups.scss";
@import "publications.scss";

html{
  font-size: 14px;
}

.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  //margin: 70px !important;
  background-size: cover;
  background: image_url('comic-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
}

button, html [type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: inherit;
}