
.banner_div {
  width:15%;
  float:right;
  padding-top:25px;
}


.comics-nav {
  background-color: #2e353d;
  padding-bottom: 0;

  .active {
    border-bottom: 5px solid #d19b3d;
    color: white;
    &:hover{
      border-bottom: none;
    }
  }

  li {
    margin-right: 15px;
  }

  .navbar-brand {
    color: white;
  }

  .nav-link {
    color: white;

    &:hover{
      border-bottom: 5px solid #d19b3d;
    }
  }
}

.comics-list{
  text-align: center;
  position: absolute;
  align-items: center;

  .panel{
    //border: dotted;
    margin: 10px;
    padding: 4px;
    box-shadow: 0 0 5px 2px #99ccff;
    background-color: #0066cc;
    width: 100%;
    border-radius: 10px 10px 10px 10px;

    .panel-body{
      margin:5px;
      padding: 5px;
      background-color: #99ccff;
      border-radius: 4px 4px 4px 4px;
    }

    .panel-header{
      margin: 5px;
      img{
        border-radius: 4px 4px 4px 4px;
      }
    }
  }
}

.advertising{
  margin-top: 10px;
  box-shadow: 0 0 5px 2px #99ccff;
}

.comic-cover {
  width: 90%;
  height: 90%;
}

.my-search-form{
  margin-bottom: 10px !important;
  margin-left: 7px;
  margin-right: 7px;
}

.comic-wrapper, .outer-div{
  display: flex;
  justify-content: center;

  .comic{
    margin-top: 50px;
    border-top: 14px solid #d19b3d;
    background-color: #2e353d;
    padding: 30px;
    width: 75%;

    .cover{
      img{
        width: 100%
      }
    }
  }
}