$gray: #dddddd;

.gray{
  background-color: $gray;
}

.loginform{

  margin-top: 40px;
  padding: 20px;
  max-width: 300px;
}

.editprofile{
  margin-top: 40px;
  padding: 30px;
  max-width: 500px;
}

.form-group{
  input[type=email], input[type=password]{
    width: 100%;
  }
}

