.inputtext
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  border:4px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
  resize:none;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.info {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  color: #FFFFFF;
  text-align: left;
  margin: 16px 16px 16px 36px;
}


.inner_div {
  margin-left: 40px;
  width:100%;
  background-color:#2e353d;
  margin-top: 16px;
  padding: 20px;

    color: white;
    text-decoration: none;

}

.header-div {
  margin-top: 50px;
  border-top: 14px solid #d19b3d;
}

.thread{
  border: 1px solid lightslategray;
}